includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: 5
    paths:
        - src
        - tests
        - config
        - migrations
        - public
        - bin/console
        - .php-cs-fixer.dist.php
    tmpDir: var/phpstan
    excludePaths:
        analyse:
            - config/reference.php
